<div class="container">
  <h1>Shipment</h1>
  <h2>Details</h2>
  <p>Start date: <%= @shipment.start_date %></p>
  <p>End date: <%= @shipment.expected_arrival_date %></p>
  <p>Starting location: <%= @shipment.starting_location %></p>
  <p>Destination location: <%= @shipment.destination_location %></p>
  <%= link_to "Download QR Code", shipment_qr_path(@shipment), class: "btn btn-success" %>

  <h2>Pallets</h2>
  <% @shipment.pallets.each do |pallet| %>
    <p>Pallet content: <%= pallet.content %></p>
    <%= link_to "Edit", edit_shipment_pallet_path(@shipment, pallet), class: "btn btn-primary mb-3" %>
    <%= link_to "Delete", shipment_pallet_path(@shipment, pallet), method: :destroy, data: { confirm: "Are you sure?" }, class: "btn btn-primary mb-3" %>
  <% end %>
  <%= link_to "Add new pallet", new_shipment_pallet_path(@shipment), class: "btn btn-primary mb-3" %>
  <h2>Route progress</h2>
  <div class="col-5 mt-5">
      <div class="text-center">
        <h5>Track active shipments on map</h5>
        <div class="position-sticky" style="width: 100%; height: 700px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
  </div>
  <% @shipment.scans.order(created_at: :desc).each do |scan| %>
    <p><%= scan.location %> <%= scan.created_at %></p>
  <% end %>
</div>
