<div class="container">
  <div class="row">
    <div class="col-12 col-xl-6 my-3">
      <div class="d-flex justify-content-between align-items-center gap-3 mb-3">
        <h1 class="text-dark fw-bold">Shipment <%= @shipment.id %></h1>
        <div class="px-3 py-1 border text-secondary rounded-pill">Managed by <%= @shipment.user.full_name %></div>
      </div>
      <div class="btn-group w-100">
        <%= link_to shipments_path, class: "fw-bold btn btn-outline-primary" do %>
            <i class="fa-solid fa-left-long"></i> Back
        <% end %>
        <%= link_to edit_shipment_path(@shipment), class: "fw-bold btn btn-outline-secondary" do %>
            <i class="fa-solid fa-pen-to-square"></i> Edit
        <% end %>
        <%= link_to shipment_qr_path(@shipment), class: "fw-bold btn btn-outline-success" do %>
          <i class="fa-solid fa-qrcode"></i> QR
        <% end %>
        <%= link_to shipment_path(@shipment), class: "fw-bold btn btn-outline-warning" do %>
          <i class="fa-solid fa-rotate-right"></i> Refresh
        <% end %>
      </div>
      <div class="bg-white border border-2 rounded-3 p-3 mt-3">
        <div class="d-flex justify-content-between">
          <div>
            <div class="text-secondary">Hello Fresh</div>
            <div class="text-dark fw-bold fs-4"><%= @shipment.id %></div>
          </div>
          <div class="text-end">
            <div class="px-3 py-1 rounded-pill bg-primary text-primary" style="--bs-bg-opacity: .15;">Active</div>
            <div class="text-secondary mt-1"><%= @shipment.pallets.count %> pallets</div>
          </div>
        </div>
        <% if @shipment.scans.count.positive? %>
          <div class="row" title="<%= @shipment.scans.first.date.strftime("%F %T") %>">
            <div class="col-3">Last Scan</div>
            <div class="col-1">•</div>
            <div class="col-6"><%= @shipment.scans.first.date.strftime("%a %e %b") %></div>
            <div class="col-3">Location</div>
            <div class="col-1">•</div>
            <div class="col-6 text-truncate"><%= @shipment.scans.first.location %></div>
          </div>
        <% else %>
          <h2 class="fw-bold text-secondary text-center">...no scans yet</h2>
        <% end %>
      </div>
      <h2 class="text-dark fw-bold mt-5 mb-3">Transport route</h2>
      <% unless @shipment.scans.count.positive? %>
        <h2 class="fw-bold text-secondary text-center">...no scans yet</h2>
      <% end %>
      <div class="row">
        <div class="col-3 text-secondary"><%= @shipment.expected_arrival_date.strftime("%d.%m.%Y") %></div>
        <div class="col-2 text-center"><strong>End</strong></div>
        <div class="col-7"><%= @shipment.destination_location %></div>
      </div>
      <% @shipment.scans.each_with_index do |scan, index| %>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-2 text-secondary d-flex justify-content-center" style="height: 30px;">
          <div class="vr"></div>
        </div>
      </div>
        <div class="row" title="<%= scan.date.strftime("%F %T") %>">
          <div class="col-3 text-secondary"><%= scan.date.strftime("%d.%m.%Y") %></div>
          <div class="col-2 text-center">
            <% if index.zero? %>
              <i class="fa-solid fa-truck text-primary"></i>
            <% else %>
              <strong>•</strong>
            <% end %>
          </div>
          <div class="col-7"><%= scan.location %></div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-2 text-secondary d-flex justify-content-center" style="height: 30px;">
          <div class="vr"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-secondary"><%= @shipment.start_date.strftime("%d.%m.%Y") %></div>
        <div class="col-2 text-center"><strong>Start</strong></i></div>
        <div class="col-7"><%= @shipment.starting_location %></div>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-5">
        <h2 class="text-dark fw-bold"><%= @shipment.pallets.count %> Pallets</h2>
        <div class="d-flex gap-3 align-items-center">
          <%= link_to "+", new_shipment_pallet_path(@shipment), class: "btn btn-primary" %>
          <div class="px-3 py-1 rounded-pill bg-secondary text-secondary fw-bold m-0" style="--bs-bg-opacity: .15;">Pallets tracked together</div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3 text-dark fs-5">Content</div>
        <div class="col-3 text-dark fs-5">Last Scan</div>
        <div class="col-3 text-dark fs-5">Location</div>
        <div class="col-3 text-dark fs-5 text-center">Status</div>
      </div>
      <% @shipment.pallets.each do |pallet| %>
        <%= link_to edit_pallet_path(pallet), class: "text-decoration-none" do %>
          <div class="row py-1 border border bg-white rounded-pill mt-2">
            <div class="col-3 text-secondary fs-6"><%= pallet.content %></div>
            <div class="col-3 text-secondary fs-6">
              <% if @shipment.scans.count.positive? %>
                <%= @shipment.scans.first.date.strftime("%d.%m.%Y") %>
              <% end %>
            </div>
            <div class="col-3 text-secondary fs-6 text-truncate">
              <% if @shipment.scans.count.positive? %>
                <%= @shipment.scans.first.location %>
              <% end %>
            </div>
            <div class="col-3 text-secondary fs-6 text-center <%= @shipment.scans.count.positive? && @shipment.scans.first.sticker_destroyed? ? "text-danger" : "text-success" %>"><%= @shipment.scans.count.positive? && @shipment.scans.first.sticker_destroyed? ? "Destroyed" : "Ok" %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-12 col-xl-6 mt-3 position-sticky" style="top: 20px; height: fit-content;">
      <h2 class="text-dark fw-bold">Track on map</h2>
      <div class="rounded-3" style="height: 90vh;"
        data-controller="mapbox-show"
        data-mapbox-show-markers-value="<%= @markers.to_json %>"
        data-mapbox-show-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
