<!DOCTYPE html>
<html>
  <head>
    <title>ShipmentTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if request.path == "/users/sign_in" || request.path == "/users/sign_up"%>
      <%= yield %>
    <% elsif request.path == "/"  %>
      <%= render 'shared/navbar' %>
      <%= yield %>
    <% else %>
      <div class="common-div">
        <%= render 'shared/sidenav' %>
        <%= yield %>
      </div>
    <%end%>
    <%= render 'shared/flashes' %>
  </body>
</html>
